.feed {
    flex: 5.5;
    margin-top: 20px;
    width: 100%; 
}

.feedWrapper {
    padding: 20px; 
}

/* Tablet and smaller screens */
@media screen and (max-width: 768px) {
    .feed {
        flex: 4; 
        margin-top: 15px; 
    }

    .feedWrapper {
        padding: 2%; 
    }
}

/* Mobile screens */
@media screen and (max-width: 480px) {
    .feed {
        flex: 3; 
        margin-top: 10px; 
    }

    .feedWrapper {
        padding: 10px; 
    }
}

